.types_list {
  padding-left: 0;
  display: flex;
  justify-content: center;
}
.type_item {
  list-style: none;
  
}

.card_name {
  margin-top: 0;
}

.id {
  text-align: start;
  margin-bottom: 0;
}
.tags {
  list-style: none;
  background-color: gray;
  border-radius: 8px;
  margin: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 2px;
  color: #fff;
}

.grey_container {
  background-color: rgb(185, 181, 181);
}

.white_container {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}