.poke_list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
}

.poke_item {
  list-style: none;
  border: solid 1px gray;
  text-align: center;
  padding-top: 0;
}